{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <h1>Set Export Password</h1>

            <p>
                Enter a password that will be used to encrypt the file before it is downloaded.
                This password is not stored and cannot be recovered.
                You will need to enter the password when importing the file.
            </p>

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Invalid form.
                </div>
            {% endif %}

            <form id="downloadForm" method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_password" class="form-label">Password:</label>
                    {{ form.password }}
                    <div id="passwordHelp" class="form-text">Password needs to be at least 8 characters in length.</div>
                </div>
                <button type="submit" class="btn btn-primary" value="login">Export</button>
            </form>
        </div>
    </div>
{% endblock %}
