{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Certificate Self Service</h1>
                <br/>
                {% for cert in certificates %}
                    <div>
                        <div class="card" style="height: 500px;">
                            <div class="card-header">
                                {{ cert.name }} {% if cert.revoked_at %}
                                <span class="badge bg-danger">REVOKED</span>{% endif %}
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <textarea class="form-control" rows="15">{{ cert.x509_text }}</textarea>
                                </div>
                                {% if not cert.revoked_at %}
                                    <a href="{% url 'pki:download-identity' cert.serial_number %}"
                                       class="btn btn-primary" role="button">
                                        <i class="bi bi-person-check-fill"></i>
                                        Identity
                                    </a>
                                    <a href="{% url 'pki:device-config' cert.serial_number %}"
                                       class="btn btn-primary" role="button">
                                        <i class="bi bi-apple"></i>
                                        iOS/macOS Profile
                                    </a>
                                    <a href="{% url 'pki:download-cert' cert.serial_number %}" target="_blank"
                                       class="btn btn-secondary" role="button">
                                        <i class="bi bi-patch-check"></i>
                                        Certificate
                                    </a>
                                    <a href="{% url 'pki:download-key' cert.serial_number %}" target="_blank"
                                       class="btn btn-secondary" role="button">
                                        <i class="bi bi-key"></i>
                                        Private Key
                                    </a>
                                    <a href="{% url 'pki:download-cert' cert.ca.serial_number %}"
                                       target="_blank" class="btn btn-secondary" role="button">
                                        <i class="bi bi-patch-check-fill"></i>
                                        CA Certificate
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    {% if user.site_user %}
                        <a href="{% url 'pki:generate' %}" class="btn btn-primary" role="button">Generate Certificate</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}